* {
    box-sizing: border-box;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MSSansClone';
    src: url('ms-sans-serif-1.ttf') format('truetype');
}

body {
	padding: 0;
	margin: 0;
	background-color:#008080;
	line-height: 1;
	font-family: 'MSSansClone', sans-serif;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}
header {
	background-color: #1e2533;
	padding: 30px;
	text-align: left;
}

.icon {
    width: 40px;
    margin: 10px;
}

.window-98 {
    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-top-color: #EFEFEF;
    border-left-color: #EFEFEF;
    width: 100%;
    height: 100%;
    background-color: #c0c0c0;
}

.window-header {
    display: flex;
    height: 22px;
    width: 100%;
    align-items: center;
    padding-left: 3px;
    color: #EFEFEF;
    font-size: 14px;
    background: linear-gradient(to right, #020B87, #0F83CF)
}

.time {
    padding-right: 4px;
    padding-left: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: small;
    margin-right: 2px;
    line-height: 18px;
    width: 80px;
    height: 22px;
    border-style: solid;
    color: #353535;
    border-color: #E0E0E0;
    border-top-color: #7c7c7c;
    border-left-color: #7c7c7c;
    border-width: 2px;
    background-color: #c0c0c0;
}

.start {
    background-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-top-color: #EFEFEF;
    border-left-color: #EFEFEF;
    min-width: fit-content;
    padding-right: 4px;
    padding-top: 2px;
    padding-left: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
    margin-left: 2px;
    line-height: 18px;
    width: fit-content;
    height: 24px;
}

.smile {
    background-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    border-color: #EFEFEF;
    border-right-color: #151515;
    border-bottom-color: #151515;
}
.smile:active img {
    content: url('media/lose.png');
}

.start:hover {
    background-color: #b8b8b8;
}

.start:active {
    padding-left: 4px;
    padding-top: 3px;
    border-left-color:#404040;
    border-top-color: #404040;
    border-bottom-color: #EFEFEF;
    border-right-color: #EFEFEF;
}

.smile:active {
    padding-left: 5px;
    padding-top: 4px;
    border-color:#151515;
    border-bottom-color: #EFEFEF;
    border-right-color: #EFEFEF;
}

.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.t-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
}

.taskbar {
    background-color: #c0c0c0;
    height: 32px;
    width: 100%;
    border-style: solid;
    border-color: #c0c0c0;
    border-top-color: #efefef;
}

.navi {
	font-size: 28px;
	color:#A65D78;
}
.window {
	border-radius: 15px;
	margin: 5px;
	padding: 20px;
	height: 250px;
	background: #384761;
}
input[type=text] {
	font-family: 'Roboto Mono';
	width: 115px;
	margin-top: 5px;
	padding: 3px;
	border-radius: 5px;
	border: inset;
}
h1 {
	font-size: 50px;
	color:#F27798;
}
h2 {
	font-size: 28px;
	color:#A65D78;
}
div.a {
	font-size: 22px;
	color:#F2F0F0;
	float: left;
}
button {
	float: left;
	margin: 5px;
	font-family: 'Roboto Mono';
}
div {
	float: left;
}
p {
	font-size: 22px;
	color:#F2F0F0;
	float: left;
}

.verta {
    align-items: center;
}

.mimg {
    width: 100%;
    height: auto; 
    display: block;  
  }

@keyframes close {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 0px;
        height: 0px;
    }
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.website-text {
	opacity: 0;
	animation: fadeSlideDown 2s ease forwards;
} 

a {
  transition: color 0.5s ease;
}

a:hover {
  color:#e48fae;
}

.half1 {
    background-color:#EFEFEF;
    width: 1px;
    height: 20px;
} 
.half2 {
    background-color:#727272;
    width: 2px;
    height: 20px;
}

.taskbar-divider {
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
    margin-left: -1px;
    height: 24px;
    width: 4px;
}
.taskbar-window-container {
    flex: 1;
    height: 100%;
}
.taskbar-window {
    background-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-top-color: #EFEFEF;
    border-left-color: #EFEFEF;
    min-width: fit-content;
    padding-right: 4px;
    padding-top: 2px;
    padding-left: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
    margin-left: 2px;
    line-height: 18px;
    width: fit-content;
    height: 24px;
    color: black;
    padding-right: 15px;
    min-width: 190px; 
}
.taskbar-window.active {
    padding-left: 4px;
    padding-top: 3px;
    border-left-color: #404040;
    border-top-color: #404040;
    border-bottom-color: #EFEFEF;
    border-right-color: #EFEFEF;
}

.minetile {
    margin: 0px !important;
    float: none !important;
    padding: 0 !important;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unclick {
    background-color: #c0c0c0;
    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-top-color: #EFEFEF;
    border-left-color: #EFEFEF;
    min-width: fit-content;
    padding-right: 3px;
    padding-top: 2px;
    padding-left: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
    margin-left: 2px;
    line-height: 18px;
    width: fit-content;
    height: 24px;
}

.flaggedTile {
    background-image: url('media/flag.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.revealedTile {
    border: none;
    align-content: center;
    text-align: center;
}